<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Create a Profile</h5>
    <p class="card-text">Please create a profile, choose only one, host OR dj.</p>
    <%= link_to "Create Host Profile", new_host_path, class:"card-link btn btn-info"  %>
    <br>
    <br>
    <%= link_to "Create DJ Profile", new_dj_path, class:"card-link btn btn-warning"  %>
  </div>
</div>
