@import "bootstrap";
a {
  color: #444;
}

a:hover {
  color: #222;
}

.card {
  background-color: #b5b0ba;
}

#djimage {
  text-align: center;
  border-radius: 30px;
}

#hostimage {
  text-align: center;
  border-radius: 30px;
}

#dj-card-text {
  text-align: center;
}

#dj-card-title {
  text-align: center;
}
