@import "bootstrap";

a {
  color: #444;
}

a:hover {
  color: #222;
}

#djimage {
  text-align: center;
  border-radius: 30px;
}

#hostimage {
  text-align: center;
  border-radius: 30px;
}

.card {
  background-color: black;
}

#dj-card-body {
  background-color: black;
  text-align: center;
  margin-bottom: 10%;
}

#dj-card-header {
  text-align: center;
  color: white;
  background-color: #142145;
}

#dj-card-title {
  text-align: center;
}

#host-card {
  height: 300px;
  width: 35%;
}

#dj-card {
  height: 300px;
  width: 50%;
}

#host-card-body {
  background-color: black;
  text-align: center;
  margin-bottom: 10%;
}
