@import "bootstrap";
/*========================================================================
                                  Media Queries
========================================================================== */

/*========================================================================
                                  HOME
========================================================================== */
#home-cover {

}
/*========================================================================
                          Style
========================================================================== */
audio {

}

a {
  color: #444;
}

a:hover {
  color: #222;
}

#djimage {
  text-align: center;
  border-radius: 30px;
}

#hostimage {
  text-align: center;
  border-radius: 30px;
}

.card {}

#dj-card-body {
  text-align: center;
  margin-bottom: 10%;
}

#dj-card-header {
  text-align: center;
  color: white;
  background-color: #142145;
}

#dj-card-title {
  text-align: center;
}

#host-card {}

#dj-card {}

#host-card-body {
  text-align: center;
}
